<!--* 版权所有 2019~2020 极盾工作室  kplphp地址[ http://www.kplphp.com ] -->
<!--* 作者由JefferyCai码云所创造 [ https://gitee.com/JefferyCai ]-->
<!--* 当前码云地址 与 操作文档都在 [ https://gitee.com/JefferyCai/kplphp ]-->
<!--* QQ群请加 972703635 [ https://jq.qq.com/?_wv=1027&k=5YnmIH8 ]，如有更多服务，请单独加群主: 1345199080-->
<style>
    .topmenu ul.nav li a{
        padding: .5rem 1rem!important;
        width: 100%!important;
    }
    .topmenu ul.nav li a.active{
        color: #fff!important;
    }
    .layui-laydate .layui-this {
        background-color: #64737a!important;
    }
</style>
<div class="header">
    <ul class="navbar-nav ">
        <li class="nav-item navigation-toggler">
            <a href="#" class="nav-link">
                <i class="ti-menu"></i>
            </a>
        </li>
        <li class="nav-item" id="header-logo">
            <a href="#">
                <img class="logo" src="__PUBLICS__/logo-sm-b.png" alt="logo">
                <img class="logo-sm" src="__PUBLICS__/logo-sm-b.png" alt="small logo">
                <img class="logo-dark" src="__PUBLICS__/logo-sm-b.png" alt="dark logo">
            </a>
        </li>
    </ul>
    <div class="header-right">
        <ul class="navbar-nav">
            <li class="nav-item search-form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="topmenu">
                        <ul class="nav nav-pills">
                            {notempty name="top_menus"}
                            {volist name="top_menus" id="top_menus"}
                            <li class="nav-item">
                                <a class="nav-link {$top_menus['id'] == $_location[0]['id'] ?= 'active'}" target="{$top_menus['url_target']}" href="{:url($top_menus['url_value'])}"><i class="{$top_menus.icon} nav-link-icon" ></i> {$top_menus.title}</a>
                            </li>
                            {/volist}
                            {/notempty}
                        </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" title="Fullscreen" data-toggle="fullscreen">
                    <i class="maximize" data-feather="maximize"></i>
                    <i class="minimize" data-feather="minimize"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" title="退出登陆" data-toggle="dropdown">
                    <i data-feather="user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                    <div class="p-4 text-cen
                    ter" data-backround-image="__STATIC__/assets/media/image/image1.png">
                        <h6 class="mb-1">{:session('user_auth.username')}</h6>
                        <small class="font-size-11 opacity-7">身份：{:session('user_auth.role_name')}</small>
                    </div>
                    <div class="p-2 text-center mt-2">
                        <ul class="list-inline small">
                            <li class="list-inline-item">
                                <a href="{:url('/login/loginout')}">退出登录</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

        </ul>
        <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item header-toggler">
                <a href="#" class="nav-link">
                    <i data-feather="arrow-down"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
