<div class="navigation">
    <div id="logo">
        <a href="{:url('/admin/index')}">
            <img class="logo" src="__PUBLICS__/logo.png" alt="logo">
            <img class="logo-sm" src="__PUBLICS__/logo-sm.png" alt="small logo">
        </a>
    </div>
    <div class="navigation-menu-body">
        <ul>
            <?php foreach($sidebar as $key=>$menu){ ?>
                <li {$menu['id'] == $_location[1]["id"]?='class="open"'}>
                {notempty name="menu.url_value"}
                <a href="<?php echo url($menu['url_value']) ?>" {if($menu['id'] == $_location[1]["id"])}class="active active1"{/if}>
                <i class="{$menu.icon} nav-link-icon"></i><span>{$menu['title']}</span></a>
                {else/}
                <a href="#"><i class="{$menu.icon} nav-link-icon" ></i><span>{$menu['title']}</span></a>
                {if condition="isset($menu['child'])"}
                <ul>
                    {volist name="menu['child']" id="menuchild"}
                    <li>
                        <a {if(isset($_location[2]) && $menuchild['id'] == $_location[2]["id"])}class="active"{/if}  href=" {:url($menuchild['url_value'])} "><i class="{$menuchild.icon}" ></i>{$menuchild['title']}</a>
                    </li>
                    {/volist}
                </ul>
                {/if}
                {/notempty}
                </li>
            <?php } ?>

        </ul>
    </div>
</div>