{include file="public/header-static"/}
{include file="public/sidebar"/}


<div id="main">

    {include file="public/header"/}





    <main class="main-content">

        <div class="container">


            <div class="page-header">
                <h4>系统设置</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">首页</a>
                        </li>

                        <li class="breadcrumb-item active" aria-current="page">系统设置&nbsp;&nbsp;&nbsp;&nbsp;<small class="">欢迎你访问该框架，喜欢的加QQ群 <span>: [972703635]<a target="_blank" style="text-decoration: underline" href="https://jq.qq.com/?_wv=1027&k=57JpRdR">QQ群</a></span> | <span> <b> <a
                                href="https://gitee.com/JefferyCai/kplphp" style="text-decoration: underline" title="码云地址" target="_blank">下载该框架</a></b> </span> </small></li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form action="{:url('/system/index')}" method="post" enctype="multipart/form-data" >
                                <div class="form-group row">
                                    <input type="hidden" value="{$info['id']}" name="id">
                                    <label for="name" class="col-sm-1 col-form-label">角色名称</label>
                                    <div class="col-sm-11">
                                        <input type="text" name="name"  class="form-control" placeholder="角色名称" value="{$info['name']}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="role" class="col-sm-1 col-form-label">上级角色</label>
                                    <div class="col-sm-11">
                                        <select name="pid" id="pid" class="form-control" >
                                            <option value="0">最顶级</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="description" class="col-sm-1 col-form-label">角色描述</label>
                                    <div class="col-sm-11">
                                        <input type="text" name="description" id="description" class="form-control" placeholder="角色描述" value="{$info['description']}">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="" class="col-sm-1">
                                        <button type="reset" class="btn btn-secondary">重置</button>
                                    </label>
                                    <div class="col-sm-9">
                                        <button type="submit" class="btn btn-secondary">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    {include file="public/footer"/}


</div>

<script src="__STATIC__/vendors/bundle.js"></script>
<script src="__STATIC__/vendors/prism/prism.js"></script>
<script src="__STATIC__/assets/js/app.min.js"></script>