<!--* 版权所有 2019~2020 极盾工作室  kplphp地址[ http://www.kplphp.com ] -->
<!--* 作者由JefferyCai码云所创造 [ https://gitee.com/JefferyCai ]-->
<!--* 当前码云地址 与 操作文档都在 [ https://gitee.com/JefferyCai/kplphp ]-->
<!--* QQ群请加 972703635 [ https://jq.qq.com/?_wv=1027&k=5YnmIH8 ]，如有更多服务，请单独加群主: 1345199080-->
<footer>
    <div class="row">
        <div class="col-md-12 ml-5">
            <div>Copyright &copy; 2019-2020.版权所有<a target="_blank" rel="noopener noreferrer" href="http://www.kplphp.com/">kplphp后台框架</a></div>
        </div>
    </div>
</footer>
<script>
    //接收ifram页面返回的消息
    function iframe_form_msg(code, msg, url = ''){
        //这里简单弹窗，想要其他效果可以用其他插件弹窗
        if(code == 1){
            toastr.success(msg);
            setTimeout(function(){
                location.href = url;
            }, 1000);
        }else{
            toastr.error(msg);
        }
    }

</script>
<div id="alert_message" style="display:none">
    <iframe name=iframe_form id="ifr" scrolling="no"></iframe>
</div>