<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>kplphp极速极简后台框架</title>
    <link rel="shortcut icon" href="__PUBLICS__/favicon.ico"/>
    <link rel="stylesheet" href="__STATIC__/vendors/bundle.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/vendors/datepicker/daterangepicker.css">
    <link rel="stylesheet" href="__STATIC__/vendors/slick/slick.css">
    <link rel="stylesheet" href="__STATIC__/vendors/slick/slick-theme.css">
    <link rel="stylesheet" href="__STATIC__/vendors/vmap/jqvmap.min.css">
    <link rel="stylesheet" href="__STATIC__/vendors/prism/prism.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/assets/css/app.min.css" type="text/css">
</head>
<body class="shadow-layout">