<!--* 版权所有 2019~2020 极盾工作室  kplphp地址[ http://www.kplphp.com ] -->
<!--* 作者由JefferyCai码云所创造 [ https://gitee.com/JefferyCai ]-->
<!--* 当前码云地址 与 操作文档都在 [ https://gitee.com/JefferyCai/kplphp ]-->
<!--* QQ群请加 972703635 [ https://jq.qq.com/?_wv=1027&k=5YnmIH8 ]，如有更多服务，请单独加群主: 1345199080-->
<!--* 插件模型功能-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="kplphp,kplphp后台框架,基于thinkphp6">
    <meta name="author" content="JefferyCai">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">
    <title>kplphp极速极简后台框架</title>
    <link rel="shortcut icon" href="__PUBLICS__/favicon.ico"/>
    <link rel="stylesheet" href="__STATIC__/vendors/bundle.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/vendors/datepicker/daterangepicker.css">
    <link rel="stylesheet" href="__STATIC__/vendors/slick/slick.css">
    <link rel="stylesheet" href="__STATIC__/vendors/slick/slick-theme.css">
    <link rel="stylesheet" href="__STATIC__/vendors/vmap/jqvmap.min.css">
    <link rel="stylesheet" href="__STATIC__/vendors/prism/prism.css" type="text/css">
    <link rel="stylesheet" href="__STATIC__/assets/css/app.min.css" type="text/css">
</head>
<body class="shadow-layout">