{include file="/public/header-static"/}
{include file="/public/sidebar"/}

<div id="main">
    {include file="/public/header"/}
    <div class="main-content">
        <div class="container">
            {include file="public/page-header"/}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            xxxx 编辑设置
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="/public/footer"/}
</div>